<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2022080102"
    android:versionName="1.7.08"
    android:compileSdkVersion="31"
    android:compileSdkVersionCodename="12"
    package="com.soletreadmills.sole"
    platformBuildVersionCode="31"
    platformBuildVersionName="12">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="31"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <queries>
        <package android:name="com.tencent.mm"/>
        <package android:name="com.google.android.apps.maps"/>
    </queries>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <application
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.dyaco.sole.MyApp"
        android:persistent="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notice_sole"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/sole_notification_icon"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:name="com.dyaco.sole.activity.LogoActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dyaco.sole.activity.TermsActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.dyaco.sole.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/MyDialog"
            android:name="com.dyaco.sole.activity.ConnectionDialog"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/MyDialog"
            android:name="com.dyaco.sole.activity.LanguageDialog"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/MyDialog"
            android:name="com.dyaco.sole.activity.ExportUserDialog"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/MyDialog"
            android:name="com.dyaco.sole.activity.ShareDialog"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/MyDialog"
            android:name="com.dyaco.sole.activity.CaloriesSettingDialog"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.dyaco.sole.activity.FitbitAuthenticationActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.dyaco.sole.activity.MapMyFitnessActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.dyaco.sole.activity.StravaActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.dyaco.sole.activity.GarminConnectLoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="dyacoapp"/>
            </intent-filter>
        </activity>
        <activity android:name="com.dyaco.sole.activity.OmronConnectLoginActivity"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.dyaco.sole.activity.LoginActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.dyaco.sole.activity.Register_Step1_Activity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.dyaco.sole.activity.Register_Step2_Activity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.dyaco.sole.activity.Register_Step3_Activity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.dyaco.sole.activity.Login_Forget_Activity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.dyaco.sole.activity.Login_Guest_Activity"
            android:screenOrientation="landscape"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <activity
            android:theme="@style/Theme.AppCompat"
            android:label="@string/title_activity_outdoor_maps"
            android:name="com.dyaco.sole.activity.OutdoorMapsActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.dyaco.sole.activity.CustomRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/app_name"
            android:name="com.soletreadmills.sole.wxapi.WXEntryActivity"
            android:exported="true"/>
        <activity
            android:label="@string/x_app_name"
            android:name="com.xterraplanet.xterra.wxapi.WXEntryActivity"
            android:exported="true"/>
        <activity
            android:label="@string/s_app_name"
            android:name="com.spiritfitness.spirit.wxapi.WXEntryActivity"
            android:exported="true"/>
        <activity
            android:label="@string/f_app_name"
            android:name="com.fuelfitness.fuel.wxapi.WXEntryActivity"
            android:exported="true"/>
        <service
            android:name="com.dyaco.sole.notification.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.dyaco.sole.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="alarmDemo"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.dyaco.sole.GarminService"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:theme="@style/EasyPermissions.Transparent"
            android:label=""
            android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/com_facebook_activity_theme"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="fbconnect"
                    android:host="cct.com.soletreadmills.sole"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="com.soletreadmills.sole.com.squareup.picasso"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.soletreadmills.sole.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:theme="@style/zxing_CaptureTheme"
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.soletreadmills.sole.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:exported="false"
            android:authorities="com.soletreadmills.sole.FacebookInitProvider"/>
        <receiver
            android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
    </application>
</manifest>
